:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #2f80ed;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #ff7e6a;
}

a.active {
  font-weight: bold;
  color: #ff7e6a;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #56ccf2;
  color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f5f5f5;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 0.8em 1.6em;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #2f80ed;
  color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #56ccf2;
  transform: translateY(-3px);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(47, 128, 237, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-dark: #ffffff;
    --background-light: #f9f9f9;
    --text-light: #2d2d2d;
    --text-dark: #f5f5f5;
  }
}
/* Exemple de styles pour l'application */

ul {
  list-style-type: none;
  padding: 0;
  width: 80%;
  max-width: 600px;
}

li {
  margin: 15px 0;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}